---

---

<pre class="flex justify-center text-center pt-48 leading-none overflow-hidden text-nowrap">
 ▄ .▄▄▄▄ . ▄▄▄·  ▌ ▐·▄▄▄ . ▐ ▄
██▪▐█▀▄.▀·▐█ ▀█ ▪█·█▌▀▄.▀·•█▌▐█
██▀▐█▐▀▀▪▄▄█▀▀█ ▐█▐█•▐▀▀▪▄▐█▐▐▌
██▌▐▀▐█▄▄▌▐█ ▪▐▌ ███ ▐█▄▄▌██▐█▌
▀▀▀ · ▀▀▀  ▀  ▀ . ▀   ▀▀▀ ▀▀ █▪
</pre>
<p class="text-center pb-12">ᶻ 𝗓 𐰁</p>