---

---

<div class="flex flex-col max-w-auto m-auto items-center">
    <ul class="grid md:grid-cols-4 sm:flex gap-x-4">
        <li><span class="select-none">♱ </span><a tabindex="0" href="/archive" class="text-c_mauve decoration-dotted hover:underline hover:cursor-pointer overflow-hidden text-nowrap">Archive</a></li>
        <li><span class="select-none">𖹭 </span><a tabindex="0" href="/rss.xml" class="text-c_mauve decoration-dotted hover:underline hover:cursor-pointer overflow-hidden text-nowrap">Propaganda (RSS)</a></li>
        <li><span class="select-none">&#123&#125 </span><a tabindex="0" href="https://github.com/" target="_blank" class="text-c_mauve decoration-dotted hover:underline hover:cursor-pointer overflow-hidden text-nowrap">Projects</a></li>
    </ul>
</div>