---

---

<div class="flex flex-col max-w-96 m-auto items-center">
    <ul class="grid md:grid-cols-3 sm:flex gap-x-4">
        <li>» <a href="/archive" class="text-c_mauve decoration-dotted hover:underline hover:cursor-pointer overflow-hidden text-nowrap">Archive</a></li>
        <li>» <a href="https://github.com/" target="_blank" class="text-c_mauve decoration-dotted hover:underline hover:cursor-pointer overflow-hidden text-nowrap">Github (Soon)</a></li>
        <li>» <a class="text-c_mauve decoration-dotted hover:underline hover:cursor-pointer overflow-hidden text-nowrap">Discord (Maybe)</a></li>
    </ul>
</div>