---
import '../styles/global.css'
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.webp" />
		<meta name="generator" content={Astro.generator} />

		<title>૮₍ • ᴥ • ₎ა</title>
	</head>
	<body class="font-unifont px-4 m-auto md:m-0 bg-c_crust text-c_text">
		<slot />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
		font-family: inherit;
	}
</style>
